[submodule "shared/depthai-bootloader-shared"]
	path = shared/depthai-bootloader-shared
	url = ../depthai-bootloader-shared.git
[submodule "3rdparty/xtensor"]
	path = 3rdparty/xtensor
	url = https://github.com/xtensor-stack/xtensor
[submodule "3rdparty/xtl"]
	path = 3rdparty/xtl
	url = https://github.com/xtensor-stack/xtl
