name: DepthAI Core CI/CD

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - develop
      - gen2
      - gen2_develop
    tags:
      - 'v*'
  pull_request:
    branches:
      - main
      - develop
      - gen2
      - gen2_develop


jobs:

  style:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'

    - name: Install format dependencies
      run: |
        sudo apt-get install clang-format-10
        sudo apt-get install libusb-1.0-0-dev

    - name: configure
      run: cmake . -Bbuild -DDEPTHAI_CLANG_FORMAT=ON -DCLANG_FORMAT_BIN=clang-format-10

    - name: check style
      run: ci/check_format.sh build


  tidy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install libusb-1.0-0-dev clang-tidy-10

    - name: configure
      run: cmake . -Bbuild -DDEPTHAI_CLANG_TIDY=ON -DCLANG_TIDY_BIN=clang-tidy-10

    - name: Run clang-tidy
      run: cmake --build build --parallel 8


  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]

    steps:
    - name: Cache .hunter folder
      if: matrix.os != 'windows-latest'
      uses: actions/cache@v2
      with:
        path: ~/.hunter/
        key: hunter-${{ matrix.os }}
    - name: Cache .hunter folder
      if: matrix.os == 'windows-latest'
      uses: actions/cache@v2
      with:
        path: C:/.hunter/
        key: hunter-${{ matrix.os }}
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'

    - name: Install dependencies
      if: matrix.os == 'macos-latest'
      run: |
        brew update
        brew install libusb opencv

    - name: Install dependencies
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get update
        sudo apt-get install libusb-1.0-0-dev libopencv-dev

    - name: Install dependencies
      if: matrix.os == 'windows-latest'
      run: |
        choco install opencv
        echo "OpenCV_DIR=C:\tools\opencv\build" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
        echo "C:\tools\opencv\build\x64\vc15\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

    - name: configure
      run: cmake -S . -B build -D DEPTHAI_BUILD_EXAMPLES=ON -D DEPTHAI_BUILD_TESTS=ON

    - name: build
      run: cmake --build build --parallel 8

  integration:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        build-type: [Debug, Release]
        shared: [Shared, Static]
    steps:
    - name: Cache .hunter folder
      if: matrix.os != 'windows-latest'
      uses: actions/cache@v2
      with:
        path: ~/.hunter/
        key: hunter-${{ matrix.os }}-${{ matrix.shared }}
    - name: Cache .hunter folder
      if: matrix.os == 'windows-latest'
      uses: actions/cache@v2
      with:
        path: C:/.hunter/
        key: hunter-${{ matrix.os }}-${{ matrix.shared }}

    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'

    - name: Install dependencies
      if: matrix.os == 'macos-latest'
      run: |
        brew update
        brew install libusb opencv

    - name: Install dependencies
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get update
        sudo apt-get install libusb-1.0-0-dev libopencv-dev

    - name: Install dependencies
      if: matrix.os == 'windows-latest'
      run: |
        choco install opencv
        echo "OpenCV_DIR=C:\tools\opencv\build" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
        echo "C:\tools\opencv\build\x64\vc15\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

    - name: Configure ${{ matrix.build-type }}, ${{ matrix.shared }}
      if: matrix.shared == 'Shared'
      run: cmake -S . -B build -D BUILD_SHARED_LIBS=ON -D CMAKE_BUILD_TYPE=${{ matrix.build-type }} -D CMAKE_INSTALL_PREFIX=$GITHUB_WORKSPACE/depthai_install
    - name: Configure ${{ matrix.build-type }}, ${{ matrix.shared }}
      if: matrix.shared == 'Static'
      run: cmake -S . -B build -D BUILD_SHARED_LIBS=OFF -D CMAKE_BUILD_TYPE=${{ matrix.build-type }} -D CMAKE_INSTALL_PREFIX=$GITHUB_WORKSPACE/depthai_install

    - name: Set path to shared library dll (Windows)
      if: matrix.os == 'windows-latest'
      run: echo "$GITHUB_WORKSPACE/depthai_install/bin/" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

    - name: Build and install
      run: cmake --build build --config ${{ matrix.build-type }} --target install --parallel 8

    - name: Build and test add_subdirectory
      run: |
        cmake -S tests/integration/ -B tests/integration/build_add_subdirectory -D TEST_FIND_PACKAGE=OFF
        cmake --build tests/integration/build_add_subdirectory --config ${{ matrix.build-type }} --parallel 8
        cd tests/integration/build_add_subdirectory
        ctest -C ${{ matrix.build-type }}

    - name: Build and test find_package (installed)
      run: |
        cmake -S tests/integration/ -B tests/integration/build_find_package -D TEST_FIND_PACKAGE=ON -D depthai_DIR=$GITHUB_WORKSPACE/depthai_install/lib/cmake/depthai
        cmake --build tests/integration/build_find_package --config ${{ matrix.build-type }} --parallel 8
        cd tests/integration/build_find_package
        ctest -C ${{ matrix.build-type }}

    - name: Build and test find_package (build directory)
      run: |
        cmake -S tests/integration/ -B tests/integration/build_find_package_2 -D TEST_FIND_PACKAGE=ON -D depthai_DIR=$GITHUB_WORKSPACE/build
        cmake --build tests/integration/build_find_package_2 --config ${{ matrix.build-type }} --parallel 8
        cd tests/integration/build_find_package_2
        ctest -C ${{ matrix.build-type }}


  release:
    if: startsWith(github.ref, 'refs/tags/v')
    needs: [build, style, integration]
    runs-on: ubuntu-latest

    # Clone repository
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'

    # Get tag version
    - name: Get latest release version number
      id: tag
      uses: battila7/get-version-action@v2

    # Check if version matches (TODO)
    #- name: Check if version matches
    #   run: |

    - uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    - name: Install dependencies
      run: python3.8 -m pip install git-archive-all

    - name: Create release assets
      run: |
        git-archive-all depthai-core-${{ steps.tag.outputs.version }}.tar.gz
        git-archive-all depthai-core-${{ steps.tag.outputs.version }}.zip

    # Create GitHub release
    - uses: actions/create-release@master
      id: createRelease
      name: Create ${{ steps.tag.outputs.version }} depthai-core release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        body: |
          ## Features

          ## Bugs

          ## Misc

        draft: true

    # Upload release assets
    - name: Upload source package (zip)
      uses: actions/upload-release-asset@v1.0.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.createRelease.outputs.upload_url }}
        asset_path: ${{ github.workspace }}/depthai-core-${{ steps.tag.outputs.version }}.zip
        asset_name: depthai-core-${{ steps.tag.outputs.version }}.zip
        asset_content_type: application/octet-stream

    - name: Upload source package (tar.gz)
      uses: actions/upload-release-asset@v1.0.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.createRelease.outputs.upload_url }}
        asset_path: ${{ github.workspace }}/depthai-core-${{ steps.tag.outputs.version }}.tar.gz
        asset_name: depthai-core-${{ steps.tag.outputs.version }}.tar.gz
        asset_content_type: application/octet-stream
