name: DepthAI Core HIL Stability

on:
  workflow_dispatch:
    inputs:
      distinct_id:
        description: 'run identifier'
        required: false
      testbed:
          description: 'On what testbed will tests be run'
          required: false
          type: string
      reservation_name:
          description: 'Reservation name - usually usually unique identifier of root CI run'
          required: false
          type: string
      luxonis_os:
          description: 'Which RVC4 os version to install before starting tests'
          required: false
          type: string
      depthai:
        required: false
        type: string
        default: "latest"
        description: "Version for depthai"


jobs:
  id:
    name: Workflow ID Provider
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch'
    steps:
      - name: echo distinct ID ${{ github.event.inputs.distinct_id }}
        run: echo ${{ github.event.inputs.distinct_id }}
  # Testing
  stability_test:
    runs-on: ['self-hosted', 'testbed-runner']
    timeout-minutes: 1450 # 24h & 10minutes
    steps:

    - uses: actions/checkout@v3

    - name: Test
      run: |
          source scripts/hil/prepare_hil_framework.sh ${{ secrets.HIL_PAT_TOKEN }}
          if [[ -n "${{ github.event.inputs.testbed }}" ]]; then
            TESTBED_OPTION="--testbed ${{ github.event.inputs.testbed }}"
          fi
          if [[ -n "${{ github.event.inputs.reservation_name }}" ]]; then
            RESERVATION_OPTION="--reservation-name ${{ github.event.inputs.reservation_name }}"
          else
            export RESERVATION_NAME="https://github.com/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID#rvc4-depthai-stability"
            RESERVATION_OPTION="--reservation-name $RESERVATION_NAME"
          fi
          if [[ -n  "${{ github.event.inputs.luxonis_os }}" ]]; then
            UPDATE_LUXONIS_OS="--rvc4-os-version ${{ github.event.inputs.luxonis_os }}"
          fi

          exec hil $HOLD_RESERVATION --models "oak4_pro or oak4_d" $TESTBED_OPTION $RESERVATION_OPTION $UPDATE_LUXONIS_OS --wait --sync-workspace --stability-test --stability-name depthai-stability --commands 'cd /tmp/depthai-core || exit' 'scripts/hil/run_hil_stability.sh ${{ github.event.inputs.depthai  }}'
