name: Run hil tests for mac os
on:
  workflow_call:
    inputs:
      flavor:
        required: true
        type: string
        default: "vanilla"
      luxonis_os_versions_to_test:
        required: true
        type: string
    secrets:
      HIL_PAT_TOKEN:
        required: true

jobs:
#  mac_rvc2_test:
#     needs: [build_docker_container]
#     runs-on: ['self-hosted', 'testbed-runner']
#     steps:
#     - uses: actions/checkout@v3

#     - name: Run RVC2 tests
#       run: |
#         source scripts/hil/prepare_hil_framework.sh ${{ secrets.HIL_PAT_TOKEN }}
#         export RESERVATION_NAME="https://github.com/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID#rvc2-${{ inputs.flavor }}"
#         exec hil_runner --capabilities depthai-core-hil --platforms 'rvc2 and rvc2' --reservation-name $RESERVATION_NAME --wait --docker-image ${{ secrets.CONTAINER_REGISTRY }}/depthai-core-hil:${{ needs.build_docker_container.outputs.tag }} --commands "./tests/run_tests_entrypoint.sh rvc2"

  # Testing
 linux_rvc4_test:
      strategy:
        matrix:
          rvc4os: ${{ fromJson(inputs.luxonis_os_versions_to_test) }}
        fail-fast: false
      runs-on: ['self-hosted', 'testbed-runner']
      steps:
      - uses: actions/checkout@v3

      - name: Run RVC4 tests
        run: |
            BRANCH_NAME="${{ github.ref_name }}"
            PULL_REQUEST="false"
            if [[ -n "${{ github.head_ref }}" ]]; then
                BRANCH_NAME="${{ github.ref }}"
                PULL_REQUEST="true"
            fi
            source scripts/hil/prepare_hil_framework.sh ${{ secrets.HIL_PAT_TOKEN }}
            export RESERVATION_NAME="https://github.com/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID#rvc4-mac-${{ matrix.rvc4os }}-${{ inputs.flavor }}"
            exec hil_runner --basic-sanity --models "oak4_pro or oak4_d" -os mac --sync-workspace --rsync-args="--exclude=venv" --reservation-name $RESERVATION_NAME --wait --rvc4-os-version ${{ matrix.rvc4os }} --commands "cd /tmp/depthai-core && ./scripts/hil/run_hil_tests_mac.sh ${{ inputs.flavor }} --rvc4"
