name: DepthAI Core HIL Testing

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - develop
    tags:
      - 'v*'
  pull_request:
    branches:
      - main
      - develop
    types: [opened, synchronize, reopened, labeled]

# Only allow latest run on same branch to be tested
concurrency:
  group: ci-tests-${{ github.ref }}-1
  cancel-in-progress: true

jobs:

  # The precheck job determines whether a workflow should be run in full
  precheck:
    runs-on: ubuntu-latest
    outputs:
      should_run: ${{ steps.check.outputs.should_run }}
    steps:
    - name: Evaluate trigger condition
      id: check
      run: |
        EVENT_NAME="${{ github.event_name }}"

        RAW_LABELS='${{ toJson(github.event.pull_request.labels) }}'
        if [[ "$RAW_LABELS" == "null" || -z "$RAW_LABELS" ]]; then
          LABELS="[]"
        else
          LABELS="$RAW_LABELS"
        fi

        SHOULD_RUN="true"
        if [[ "$EVENT_NAME" == "pull_request" ]]; then
          if ! echo "$LABELS" | jq -r '.[].name' | grep -q "testable"; then
            SHOULD_RUN="false"
          fi
        fi

        echo "should_run=$SHOULD_RUN" >> "$GITHUB_OUTPUT"

  run_vanilla_tests:
    needs: [precheck]
    if: needs.precheck.outputs.should_run == 'true'
    uses: ./.github/workflows/test_child.yml
    with:
      flavor: "vanilla"
      luxonis_os_versions_to_test: "['1.14.1', '1.18.3', '1.20.5']"
      luxonis_os_versions_to_test_rgb: "['1.20.5']"
    secrets:
      CONTAINER_REGISTRY: ${{ secrets.CONTAINER_REGISTRY }}
      HIL_PAT_TOKEN: ${{ secrets.HIL_PAT_TOKEN }}

  run_tsan_tests:
    needs: [precheck]
    if: needs.precheck.outputs.should_run == 'true'
    uses: ./.github/workflows/test_child.yml
    with:
      flavor: "tsan"
      luxonis_os_versions_to_test: "['1.20.5']"
    secrets:
      CONTAINER_REGISTRY: ${{ secrets.CONTAINER_REGISTRY }}
      HIL_PAT_TOKEN: ${{ secrets.HIL_PAT_TOKEN }}

  run_asan-ubsan_tests:
    needs: [precheck]
    if: needs.precheck.outputs.should_run == 'true'
    uses: ./.github/workflows/test_child.yml
    with:
      flavor: "asan-ubsan"
      luxonis_os_versions_to_test: "['1.20.5']"
    secrets:
      CONTAINER_REGISTRY: ${{ secrets.CONTAINER_REGISTRY }}
      HIL_PAT_TOKEN: ${{ secrets.HIL_PAT_TOKEN }}

  run_windows_tests:
    needs: [precheck]
    if: needs.precheck.outputs.should_run == 'true'
    uses: ./.github/workflows/test_child_windows.yml
    with:
      luxonis_os_versions_to_test: "['1.20.5']"
    secrets:
      CONTAINER_REGISTRY: ${{ secrets.CONTAINER_REGISTRY }}
      HIL_PAT_TOKEN: ${{ secrets.HIL_PAT_TOKEN }}

